/* style.css */
body {
    color: #333;
    font-family: Arial, sans-serif;
    Margin: 40px;
    box-sizing: border-box;
}

button {
    background-color: #28a745; /* 초록색 */
    color: white;              /* 텍스트는 흰색 */
    border: none;              /* 테두리 없음 */
    padding: 10px 20px;        /* 여백 설정 */
    border-radius: 5px;        /* 모서리를 둥글게 */
    cursor: pointer;           /* 마우스를 올렸을 때 손가락 모양 */
    font-size: 14px;           /* 글꼴 크기 */
    height: 40px;              /* 높이 설정 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
    vertical-align: middle;    /* 세로 정렬 */
}

/* 버튼에 마우스를 올렸을 때 효과 */
button:hover {
    background-color: #218838; /* 조금 더 진한 초록색으로 변경 */
}

.button-container {
    text-align: right; /* 버튼을 우측으로 정렬 */
}

/* Add/Remove 버튼에만 적용되는 스타일 */
.Add-remove-botton {
    background-color: #6f7175; /* 파란색 배경 */
    color: white; /* 흰색 텍스트 */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 마우스 오버 시 배경색 변경 */
.Add-remove-botton:hover {
    background-color: #2a2b2c; /* 진한 파란색 */
}

.input-group {
    display: flex;
    flex: 1; /* 각 그룹이 동일한 비율로 너비를 차지하도록 설정 */
    align-items: center;
    margin-bottom: 10px;
}

input[type="number"], .input-group input{
    width: 220px; /* 너비 설정 */
    height: 30px; /* 높이 설정 */
    padding: 5px; /* 안쪽 여백 설정 */
    font-size: 14px; /* 글자 크기 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 6px; /* 둥근 테두리 설정 */
    box-sizing: border-box; /* 여백이 포함된 크기 조정 */
    margin-right: 10px;
}

#cross-section-emax-result, #cross-section-ed-result, #cross-section-result, #ionization-cross-section-result {
    font-size: 16px;   /* 글씨 크기 */
    color: #333;       /* 글씨 색상 */
    font-weight: bold; /* 글씨 두께 */
    margin-bottom: 5px; /* 아래쪽 여백 */
}

#A-Mass-value {
    width: 350px;
}

/* Select 요소 스타일 */
#unit-select, #unit-select-ionization {
    width: 150px;           /* 너비 설정 */
    height: 30px;           /* 높이 설정 */
    padding: 5px;           /* 내부 여백 설정 */
    font-size: 14px;        /* 글자 크기 설정 */
    border: 1px solid #333; /* 테두리 설정 */
    border-radius: 6px;     /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 설정 */
    box-sizing: border-box; /* 크기 조정 방식 */
}

/* Option 요소 스타일 */
#unit-select, #unit-select-ionization option {
    font-size: 14px;    /* 글자 크기 */
    padding: 5px;       /* 내부 여백 */
    background-color: #fff; /* 배경색 */
}

.container1 {
    display: flex;
    flex-direction: column;  /* 가로에서 세로로 변경 */
    gap: 20px;  /* 요소 사이의 간격 */
}

/* 부모 요소 스타일 수정 */
.knock-on-cross-section-calculator{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 1500px;  /* 부모 요소 너비 */
}

.container2 {
    display: flex;
    flex-direction: column;  /* 가로에서 세로로 변경 */
    gap: 20px;  /* 요소 사이의 간격 */
}

/* 부모 요소 스타일 수정 */
.ionization-cross-section-calculator{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 1500px;  /* 부모 요소 너비 */
}

.graph-wrapper {
    display: flex;
    border: 1px solid #ddd;
    width: 100%;
    height : 650px;
    align-items: center;
}

.graph-container {
    flex-grow: 1;  /* 각 그래프 컨테이너가 균등하게 크기 차지 */
    padding: 10px;
    box-sizing: border-box;  /* 패딩 포함한 크기 */
    max-width: 50%;  /* 각 컨테이너의 최대 너비를 50%로 설정 */
    height: 100%;  /* 부모 요소의 높이를 상속받아 사용 */
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center; /* 그래프를 가운데 정렬 */
}


/* <canvas>와 <div> 모두 부모 크기에 맞춰서 조절 */
#cross-section-graph, #3d-graph {
    width: 100% !important;  /* 부모의 100% 너비 */
    height: 100% !important; /* 부모의 100% 높이 */
}

.equation {
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: left !important; /* 강제로 텍스트를 좌측 정렬 */
}

mjx-container[jax="CHTML"][display="true"] {
    text-align: left !important;  /* 수식을 좌측 정렬 */
    margin-left: 0 !important;    /* 기본 중앙 정렬로 인해 발생한 여백을 제거 */
}

mjx-container[jax="CHTML"] {
    display: block !important;  /* 블록 요소로 강제 설정 */
}


.input-label {
    margin-right: 10px;
}
